body{
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 100vh;
  justify-content: center; 
  align-items: center;
  color: rgb(90, 61, 109);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formulario{
  align-items: center;
  justify-items: center;
  padding: 20px;
  background-color: #fffdfd;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 9px 13px 41px 16px rgba(0,0,0,0.1);
}
button{
  background-color: #9b9b9b;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 10px;
  justify-self: center;
}
button:hover{
  background-color: #832da5;
}

button#logoutBtn, button#deleteBtn  {
  background-color: #f75254;
}

button#logoutBtn:hover, button#deleteBtn:hover {
background-color: #eb2e31;
}

button#updateBtn {
  background-color: #ff7f00;
}

button#updateBtn:hover {
background-color: #e38600;
}

button#listBtn {
  background-color: #2bc2e2;
}

button#listBtn:hover {
  background-color: #1e94ad;
}

button#signupBtn, button#loginBtn {
background-color: #a956f9
}
button#signupBtn:hover, button#loginBtn:hover {
  background-color: #881eed
}

input{
  padding: 5px;
  border-radius: 10px;
  display: block;
  margin: 10px;
}
#status{
  color: red;
}
p{
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
h2{
  margin-top: 40px;
}
ul{
  margin-left: 0;
  list-style: none;
}
il{
  margin-top: 5px;
}
